---
layout: default
title: Category
---

<h1>Category</h1>

<div class="category-list">
  {% for category in site.categories %}
  <small><a href="#{{ category[0] | slugify }}" class="post-category">{{ category[0] }}</a></small>
  {% endfor %}
</div>

<div class="category-posts-container">
  {% for category in site.categories %}
  <div class="category-posts">
    <h2 id="{{ category[0] | slugify }}">{{ category[0] }}</h2>
    <ul>
      {% for post in category[1] %}
        <a href="{{ post.url }}" class="category-post">
          <li>
            {{ post.title }}
            <small>{{post.date | date_to_string }}</small>
          </li></a>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>