html, body {
  /*font-family: Menlo, Monaco, "Courier New", monospace;*/
  font-size: 16px;
}

.pull-right {
  float: right;
}

.masthead-title {
  display: inline-block;
}

/*category page*/
.category-post, .category-menu{
  color: #858484;
  text-decoration: none;
}

.category-menu{
  margin-left:15px;
}

.category-post:focus, .category-post:hover, .category-menu:focus, .category-menu:hover{
  color:#e0a0c5;
  text-decoration: none;
}

.category-post>li>small {
  font-size: 0.6em;
}

.category-posts {
  margin-bottom: 3em;
}

.category-posts-container {
  margin-top  : 3em;
}

.post-date {
  padding-right: 10px;
}

.post-description {
  margin-bottom: 2rem;
}

.post-category {
  float: right;
  padding: 0 3px;
  color: #9c9c9c;
  font-weight: 300;
}