@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

html, body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
}

.pull-right {
  float: right;
}

.masthead-title {
  display: inline-block;
}

/*category page*/
.category-post, .category-menu{
  color: #858484;
  text-decoration: none;
}

.category-menu{
  margin-left:15px;
}

.category-post:focus, .category-post:hover, .category-menu:focus, .category-menu:hover{
  color:#e0a0c5;
  text-decoration: none;
}

.category-post>li>small {
  font-size: 0.6em;
}

.category-posts {
  margin-bottom: 3em;
}

.category-posts-container {
  margin-top  : 3em;
}

.post-date {
  padding-right: 10px;
}

.post-description {
  position: absolute;
  top: 0;
  right: 0;
  margin-bottom: 2rem;
  font-weight: 300;
  color: #9c9c9c;
}

.post-category {
  padding: 0 3px;
  
}

/* To center images */
.center {
  text-align: center;
}

/*GDN*/
.gdn-ads {
  text-align:center; 
  background-color:#eee;
  padding-top: 44px;
  padding-bottom: 22px;
  position: relative;
}

.gdn-ads-title {
  position:absolute;
  top:0;
  left:0;
}

.post-content {
  margin-top: 50px;
}

.post-title {
  margin-bottom: 0;
}

hr {
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.post a {
  color: #313131;
  text-decoration: underline;
}

.post a:hover, .post a:active {
  color: #4f00ff
}

.post-list .post a {
  text-decoration: none;
}

.post-list .post a:hover, .post-list .post a:active {
  text-decoration: none;
}

.masthead-title a {
  text-decoration: none;
}

.related-posts {
  margin-top: 20px;
}

.related-posts li a {
  text-decoration: none;
}

.related-posts li a:hover {
  color: #4f00ff
}